*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.box{
    padding: 50px;
    font-size: 32px;
    color: white;
    font-weight: 900;
    z-index: 10;

}
.box:hover{
    cursor: pointer;
}
.box1{
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.box1:hover ~ .hidden{
    background-color: orange;
}
.box2{
    background-color: red;
}
.box2:hover ~ .hidden{
    background-color: red;
}
.box3{
    background-color:aqua ;
}
.box3:hover ~ .hidden{
    background-color: aqua;
}
.box4{
    background-color: dodgerblue;
}
.box4:hover ~ .hidden{
    background-color: dodgerblue;
}
.box5{
    background-color: powderblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.box5:hover ~ .hidden{
    background-color: powderblue;
}
.container >  .hidden{
    width: 100%;
    height: 100vh;
    position: absolute;

} 
