*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: darkkhaki;
text-align: center;
}
.box1{
    background-color: darkcyan;
    color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 50px;
    transition: all 2s ease-in-out;
}
.box2{
    background-color: darkcyan;
    color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 50px;
    transition: all 2s ease-in-out;


}
.box3{
    background-color: darkcyan;
    color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 50px;
    transition: all 2s ease-in-out;


}
.box1:hover{
    transform: rotateX(360deg);
}
.box2:hover{
    transform: rotateY(360deg);
}
.box3:hover{
    transform: rotate(360deg);
}